@font-face
    font-family: 'HelveticaNeue';
    font-weight: 200;
    font-style: normal;
    src: url(/layout/fonts/1.eot);
    src: url(/layout/fonts/1.eot#iefix) format('embedded-opentype'), url(/layout/fonts/1.woff2) format('woff2'), url(/layout/fonts/1.woff) format('woff'), url(/layout/fonts/1.ttf) format('truetype');

@font-face
    font-family: 'HelveticaNeue';
    font-weight: normal;
    font-style: normal;
    src: url(/layout/fonts/2.eot);
    src: url(/layout/fonts/2.eot#iefix) format('embedded-opentype'), url(/layout/fonts/2.woff2) format('woff2'), url(/layout/fonts/2.woff) format('woff'), url(/layout/fonts/2.ttf) format('truetype');

@font-face
    font-family: 'HelveticaNeue';
    font-weight: 500;
    font-style: normal;
    src: url(/layout/fonts/3.eot);
    src: url(/layout/fonts/3.eot#iefix) format('embedded-opentype'), url(/layout/fonts/3.woff2) format('woff2'), url(/layout/fonts/3.woff) format('woff'), url(/layout/fonts/3.ttf) format('truetype');

@font-face
    font-family: 'HelveticaNeue';
    font-weight: 600;
    font-style: normal;
    src: url(/layout/fonts/4.eot);
    src: url(/layout/fonts/4.eot#iefix) format('embedded-opentype'), url(/layout/fonts/4.woff2) format('woff2'), url(/layout/fonts/4.woff) format('woff'), url(/layout/fonts/4.ttf) format('truetype');

@font-face
    font-family: 'FuturaOld';
    font-weight: bold;
    font-style: normal;
    src: url(/layout/fonts/bold.eot);
    src: url(/layout/fonts/bold.eot#iefix) format('embedded-opentype'), url(/layout/fonts/bold.woff2) format('woff2'), url(/layout/fonts/bold.woff) format('woff'), url(/layout/fonts/bold.ttf) format('truetype');

@font-face
    font-family: 'FuturaOld';
    font-weight: normal;
    font-style: normal;
    src: url(/layout/fonts/light.eot);
    src: url(/layout/fonts/light.eot#iefix) format('embedded-opentype'), url(/layout/fonts/light.woff2) format('woff2'), url(/layout/fonts/light.woff) format('woff'), url(/layout/fonts/light.ttf) format('truetype');
