.ps-container, .ps-container:hover, .ps-container.ps-in-scrolling
	> .ps-scrollbar-y-rail
		right 0px !important
		background transparent
		opacity 1
		border-radius 0
		width 4px
		t height
		.dropdown__frame&
			background transparent
		.catalog &
			@media (max-width: scr_lg)
				right 7px !important
		>.ps-scrollbar-y
			opacity 1
			t height
			right 0px
			width 4px
			border-radius 0
			background-color blue2 !important
