.shedule
    &__date
        font-size 25px
        font-weight bold
        border-bottom 1px solid #bb0a31
        margin-bottom 18px
        padding-bottom 3px
        @media (min-width: scr_md)
            font-size 30px
    &__event
        full-width()
        margin-bottom 20px
    &__name
        display inline-block
        max-width 75%
        font-size 15px
        @media (min-width: scr_md)
            font-size 18px
    &__time
        float left
        background-color #bb0a31
        margin-right 10px
        text-align center
        margin-top -5px
        size 51px 27px
        font-size 15px
        line-height 29px
        @media (min-width: scr_md)
            size 61px 32px
            font-size 18px
            line-height 36px
    &__day
        full-width()
        margin-bottom 25px
        @media (min-width: scr_md)
            margin-bottom 40px
            max-width 90%
